<div class="container">
    <h2>Add Reporting Manager</h2>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" [(ngModel)]="newManager.description"></textarea>
    </div>
    <br>
    <button id="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button id="close" class="btn btn-secondary" (click)="onClose()">Close</button>

    <br> <br>

    <table class="table table-primary">
        <thead class="job-headers">
            <tr>
                <th>S.No</th>
                <th>Reporting Manager</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary" *ngFor="let job of managerTitles">
                <td>{{ job.id }}</td>
                <td>{{ job.description }}</td>
                <td>
                    <button class="btn btn-warning" (click)="editManager(job)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" (click)="onDelete(job.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>